#about{
     margin: 0;
     background: rgba(255, 255, 255, 0.1);
     color: white;
     font-weight: 350;
}
@media only screen and (min-width: 801px){
     #about{
          padding-left: 5rem;
          padding-top: 1rem;
     }
     #about .container-fluid{
          padding-left: 2rem;
          padding-right: 2rem;
     }
}

@media only screen and (max-width: 800px){
     #about .container-fluid{
          padding: 2rem;
     }
}

#about i{
     font-size: 1.2rem;
}

.hrbar{
     background: white;
     height: 1px;
     border-radius: 2px;

}
.hr-about{
     background: linear-gradient(135deg, magenta, red);
     border-radius: 2px;
     height: 2px;
}

.bottom-row{
     text-align: center;
     bottom: 0;
}

.fa-facebook {
     color: #3B5998;
}

.fa-twitter {
     color:  #55ACEE;
}

.fa-youtube {
     color: red;
}

.fa-instagram {
     color: magenta;
}