/*Upcoming Events*/
#u-events{
  margin: 0;
}

/*U-event containers*/
.cal-cont{height: 100%;}
.event-top{
  top: 0;
  padding-left: 5rem;
  height: 50%;
  background: url(../Images/DecemberCal.jpg);
  color: white;
  text-align: center;
}
.ue-head{
  padding-top: 6rem;
  text-align: center;
}
.week-cont{
  background: #eee;
  height: 50%;
}

/* Month header*/
.month{
  width: 20%;
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 0, 255, 0), rgb(255, 0, 255),rgba(255, 0, 255, 0));
  text-align: center;
}

/* Month list*/
.month ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.month ul li{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button*/
.month .prev {
  padding-top: 18px;
  padding-right: 2rem;
  cursor: pointer;
}

/* Next button*/
.month .next {
  padding-top: 18px;
  padding-left: 2rem;
  cursor: pointer;
}

/* Weekdays (Sun-Sat)*/
.weekdays {
  margin: 0;
  margin-bottom: 1rem;
  padding: 10px 0;
  background-color:#ddd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weekdays li:first-child {
  padding-left: 5rem; 
}
.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.days li:first-child {
  padding-left: 5rem; 
}
.days li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}


/* Highlight the events*/
.days li .active{
  padding: 6px;
  background: magenta;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-out;
} 

/*Event hover Effects*/
.days li:hover .active{
  background: red; /*just box-shadow*/
  border-radius: 50%;
  box-shadow: 0 0 0 4px #eee, 0 0 0 6px red;
}

.days .cal-hov div{
  position: absolute;
  bottom: 36px;
  width: 300px;
  background: rgb(255, 68, 68);
  color: white;
  padding: 10px;
  border-radius: 1rem;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
  transform: translateX(-25%) translateY(-50px);
}
.days .cal-hov:hover div{
  visibility: visible;
  opacity: 1;
  transform: translateX(-25%) translateY(0px);
}
.days .cal-hov div::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(255, 68, 68);
  bottom: -5px;
  left: 153px;
  transform: rotate(45deg);
}

/*Next Step: Resposiveness*/


