#home{
     margin: 0;
}

.carousel-item h1{
     font-size: 3.5rem;
}
.carousel-item{
     font-size: 1.1rem;
}
.carousel-item{
     height: 100vh;
     width: 100%;
}
.carousel-item article{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(57, 70, 83, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-item article div{
	max-width: 50%;
	text-align: center;
	color: white;
}


.slide-a{
     background: url("../Images/couple-exercising.jpg") no-repeat top center / cover;
}
.slide-b{
     background: url("../Images/blackpeople-exercising.jpeg") no-repeat top center / cover;
}
.slide-c{
     background: url("../Images/Athlet.jpg") no-repeat top center / cover;
}
.slide-d{
     background: url("../Images/donate-please.jpg") no-repeat top center / cover;
}

.home-btn{
	margin-top: 1rem;
	padding: 0.6rem 1.8rem;
	background-color: magenta;
	border: none;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: 0.7s;
}
.home-btn:hover{
	background-color: red;
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
