:root {
  font-size: 17px;
  font-family: "Montserrat", "Courier New", Courier;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.8rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(255, 255, 255, 0.192)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.192) 30%, rgba(255, 255, 255, 0));
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, red, magenta);
  border-radius: 10px;
}

main {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.fresh-link {
  -webkit-filter: grayscale(0%) opacity(1) !important;
          filter: grayscale(0%) opacity(1) !important;
}

.nav-bar {
  position: fixed;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2rem;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  z-index: 10;
}

.nav-set {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  font-size: 1.1rem;
  color: rgba(201, 201, 201, 0.774);
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  color: white;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-icon {
  font-size: 2rem;
  color: magenta;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

.nav-link .nav-icon {
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.192)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0));
  border-radius: 2rem;
  letter-spacing: 0.1ch;
  width: 100%;
}

.logo .nav-icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

.logo-text {
  font-size: 1.5rem;
  display: inline;
  position: absolute;
  left: -876px;
  -webkit-transition: 600ms ease-out;
  transition: 600ms ease-out;
}

.nav-bar:hover .logo .nav-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (min-width: 801px) {
  body {
    overflow: hidden;
  }
  main {
    -ms-scroll-snap-type: y proximity;
        scroll-snap-type: y proximity;
    overflow-y: auto;
    height: 100vh;
  }
  section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    height: 100%;
  }
  .nav-bar {
    top: 0;
    width: 5rem;
    height: 88%;
    margin-top: 3%;
  }
  .nav-bar:hover {
    width: 16rem;
  }
  .nav-bar:hover .link-text {
    display: inline;
  }
  .nav-bar:hover .logo .nav-icon {
    margin-left: 11rem;
  }
  .nav-bar:hover .logo-text {
    left: 0px;
  }
  .smllscn {
    display: none;
  }
  #exercise {
    opacity: 0;
  }
  .excont {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  }
  .exnav {
    height: 11.2vh;
    z-index: 10;
  }
  .exin {
    padding: 0 2rem;
    color: white;
  }
  .exin p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .excont.active .exmain {
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    -webkit-animation: main-animation 0.5s ease;
            animation: main-animation 0.5s ease;
  }
  @-webkit-keyframes main-animation {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
  }
  @keyframes main-animation {
    from {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    to {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
  }
  .excont.active .ex.newb {
    -webkit-animation: noob 0.6s ease-out;
            animation: noob 0.6s ease-out;
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
  }
  @-webkit-keyframes noob {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
    }
  }
  @keyframes noob {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
    }
  }
  .excont.active .ex.interm {
    -webkit-animation: interm 0.6s ease-out;
            animation: interm 0.6s ease-out;
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
  }
  @-webkit-keyframes interm {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
    }
  }
  @keyframes interm {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
    }
  }
  .excont.active .ex.adv {
    -webkit-animation: adv 0.6s ease-out;
            animation: adv 0.6s ease-out;
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
  }
  @-webkit-keyframes adv {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
    }
  }
  @keyframes adv {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
    }
  }
  .excont.active .exlink {
    width: 30%;
    right: 0.6rem;
  }
  .excont.active .ex.newb {
    -webkit-animation: noob 0.6s ease-out;
            animation: noob 0.6s ease-out;
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
  }
  @keyframes noob {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
    }
  }
  .excont.active .ex.interm {
    -webkit-animation: interm 0.6s ease-out;
            animation: interm 0.6s ease-out;
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
  }
  @keyframes interm {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
    }
  }
  .excont.active .ex.adv {
    -webkit-animation: adv 0.6s ease-out;
            animation: adv 0.6s ease-out;
    -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
            transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
  }
  @keyframes adv {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    5% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
    }
    100% {
      -webkit-transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
              transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
    }
  }
  .excont.active .exlink {
    top: 0;
    width: 30%;
    right: 0.6rem;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .noscroll {
    overflow: hidden;
    height: 100vh;
  }
  .exseg-in {
    width: 85%;
    height: 82vh;
    border-radius: 25px;
    margin-top: 12vh;
    margin-left: 10%;
  }
  .exseg-serv {
    min-height: 68vh;
  }
  .exseg-serv {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
  }
  .exseg-pop i {
    margin: 1.5rem;
    margin-left: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .nav-bar {
    background: rgba(255, 255, 255, 0.192);
    top: 0;
    width: 100vw;
    height: 5rem;
    margin-right: 0.6rem;
  }
  .logo {
    display: none;
  }
  .nav-set {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    margin: 0;
  }
  section {
    height: auto;
  }
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  .smllscn {
    display: inline-block;
    width: 100%;
  }
  .excont.active .exmain {
    opacity: 0;
  }
  .excont.active .ex {
    opacity: 0;
  }
  .excont {
    background: transparent;
    height: 95%;
  }
  .exnav {
    background: linear-gradient(135deg, #48546100, magenta, red);
    height: auto;
    z-index: 7;
  }
  .exin p {
    margin-bottom: 2rem;
  }
  .excont.active .exlink {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, #485461 0%, #28313b 74%);
  }
  .exseg-in {
    width: 100%;
    border-radius: 2px;
    margin-top: 1rem;
    height: 100%;
    overflow-y: auto;
  }
  .exseg-serv {
    margin: 0.3rem 0 0.3rem 0;
    padding: 0.3rem;
    margin-bottom: 10%;
  }
  .newb-enter {
    height: 100%;
  }
  .exseg-pop i {
    margin: 1.5rem;
    margin-left: 93%;
  }
}

#exercise {
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.excont {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.exnav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.exmenu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.exlogo {
  margin-left: 5%;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 4rem;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.exlogo:hover {
  text-shadow: 0 0 30px magenta;
}

.exham {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tripbar {
  width: 2rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.tripbar:before, .tripbar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tripbar:before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.tripbar:after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.exmain {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ex {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ex.newb {
  z-index: -1;
}

.ex.interm {
  z-index: -2;
}

.ex.adv {
  z-index: -3;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.eximg {
  background: url("../Images/weight-rack.jpg") no-repeat top center/cover;
}

.exbegin {
  background: url("../Images/Begin_situp.jpg") no-repeat top center/cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.exinte {
  background: url("../Images/Interm_Pullup.jpg") no-repeat top center/cover;
}

.exadv {
  background: url("../Images/Adv_muscle.jpg") no-repeat top center/cover;
}

.exlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 70, 83, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}

.exin {
  max-width: 40rem;
  text-align: center;
  color: white;
}

.extitle {
  font-size: 3rem;
}

.exbtn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: magenta;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.exbtn:hover {
  background-color: red;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.excont.active .tripbar {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: transparent;
}

.excont.active .tripbar:before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.excont.active .tripbar:after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.excont.active .exlink {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

ul {
  list-style: none;
}

.exlink a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: white;
  background: transparent;
  padding: 1.5rem 3rem 1.5rem 3rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation: hide 0.5s forwards ease;
          animation: hide 0.5s forwards ease;
}

.exlink a:hover {
  color: white;
  text-shadow: 0 0 10px magenta, 0 0 20px red;
  border-bottom: 4px solid magenta;
  border-radius: 5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.excont.active .exlink a {
  -webkit-animation: appear 0.5s forwards ease var(--i);
          animation: appear 0.5s forwards ease var(--i);
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.exseg-in {
  position: absolute;
  text-align: center;
  background-color: white;
  padding: 1rem;
  color: black;
}

.exseg-nav {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 3rem;
  background: rgba(209, 209, 209, 0.3);
}

.exseg-links {
  height: 2rem;
  padding: 0 10px 0 10px;
  background: transparent;
  color: black;
  font-size: 1.1rem;
  font-style: bold;
  text-decoration: none;
  border-bottom: 1px solid magenta;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.exseg-links:hover {
  text-shadow: 0 0 25px magenta;
  border-bottom: 3px solid magenta;
  border-radius: 4rem;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.exseg-nav a i {
  color: magenta;
  font-size: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.exseg-nav a i:hover {
  color: red;
  text-shadow: 0 0 2.5px red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.exseg-serv {
  position: relative;
  background: rgba(209, 209, 209, 0.3);
  border-radius: 25px;
}

.exseg-start {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.exseg-card {
  background: rgba(209, 209, 209, 0.3);
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.exseg-card:hover {
  background: linear-gradient(135deg, red, magenta);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: -10px 20px 10px rgba(255, 0, 0, 0.33), -10px 20px 7px rgba(255, 0, 255, 0.35);
          box-shadow: -10px 20px 10px rgba(255, 0, 0, 0.33), -10px 20px 7px rgba(255, 0, 255, 0.35);
}

.exseg-card img {
  margin: 0.5rem auto 0 auto;
  display: block;
  height: 7rem;
  width: 7rem;
}

.exseg-pop {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 7;
  background: white;
  width: 100%;
  height: 82vh;
  border-radius: 25px;
  -webkit-animation: fadeInOut 0.5s ease-in-out;
          animation: fadeInOut 0.5s ease-in-out;
}

@-webkit-keyframes fadeInOut {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    height: 82vh;
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    height: 82vh;
    width: 100%;
    opacity: 1;
  }
}

.exseg-pop i {
  border-radius: 50%;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.exseg-pop i:hover {
  color: red;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.pop-cont {
  margin: 0 5%;
  height: 70%;
  overflow: auto;
  border-top: 4px solid #23232e;
  border-bottom: 4px solid #23232e;
}

.pop-cont table {
  margin-bottom: 3rem;
}

.newb-enter {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newb-fit {
  display: none;
}

.newb-mscl {
  display: none;
}

.interm-enter {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.interm-fit {
  display: none;
}

.interm-mscl {
  display: none;
}

.adv-enter {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.adv-fit {
  display: none;
}

.adv-mscl {
  display: none;
}
/*# sourceMappingURL=style.css.map */