//Variables - change words to rgb/rgba/hex
$maincol1: red;
$maincol2: magenta; //or color: #df49a6;
$maingrad: linear-gradient(135deg, $maincol1, $maincol2);//or no gradient theme
//$transparent: transparent;
$seccol1: #23232e;
$seccol1h: #141418;
$txtcola: white;
$txtcolb: black;
$txtcolc: rgba(201, 201, 201, 0.774);
$primgrad: linear-gradient(45deg, $txtcolb, $txtcola);
$secgrad: linear-gradient(to left, $seccol1, $txtcolc);
$transan: 600ms;

//Functions
@mixin topics($font, $color) {
	text-align: left;
	font-family: "Montserrat", "Courier New", Courier;
	font-size: $font;
	padding-top: 2rem;
	color: $color;
}

//HTML-global
:root{
	font-size: 17px;
	font-family: "Montserrat", "Courier New", Courier;
}

//Body
body{
	margin: 0;
	padding: 0;
}

//scroll
::-webkit-scrollbar {
	width: 0.8rem;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.192) 30%,rgba(255, 255, 255, 0) );
}
::-webkit-scrollbar-thumb {
	background: $maingrad;
	border-radius: 10px;
}

//Main
main{
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
	background-image: linear-gradient(135deg, #485461 0%, #28313b 74%)
}

//Section
section {
	scroll-snap-align: start;
	scroll-snap-stop: normal;
}

.fresh-link{
	filter: grayscale(0%) opacity(1) !important;
}

//Navbar
.nav-bar {
	position: fixed;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 2rem;
	transition: width $transan ease;
	z-index: 10;
}

.nav-set {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

.nav-item {
	width: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	font-size: 1.1rem;
	color: $txtcolc;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: $transan ease;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	color: $txtcola;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-icon{
	font-size: 2rem;
	color: $maincol2;
	transition: $transan ease;
}
.nav-link .nav-icon {
	width: 2rem;
	min-width: 2rem;
	margin: 0 0.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: $txtcola;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.192) ,rgba(255, 255, 255, 0) );
	border-radius: 2rem;
	letter-spacing: 0.1ch;
	width: 100%;
}

.logo .nav-icon {
	transform: rotate(0deg);
	transition: $transan ease;
}

.logo-text{
	font-size: 1.5rem;
	display: inline;
	position: absolute;
	left: -876px;
	transition: $transan ease-out;
}

.nav-bar:hover .logo .nav-icon{
	transform: rotate(180deg);
}

// Large screens
@media only screen and (min-width: 801px) {
	body{
		overflow: hidden;
	}
	main{
		
		scroll-snap-type: y proximity;
		overflow-y: auto;
		height: 100vh;
		
	}
	section {
		scroll-snap-align: start;
		scroll-snap-stop: normal;
		height: 100%;
	}
	.nav-bar {
		top: 0;
		width: 5rem;
		height: 88%; //100%
		margin-top: 3%;
	}
	.nav-bar:hover{
		width: 16rem;
	}

	.nav-bar:hover .link-text {
		display: inline;
	}

	.nav-bar:hover .logo .nav-icon
	{
		margin-left: 11rem;
	}

	.nav-bar:hover .logo-text
	{
		left: 0px;
	}
	.smllscn{
		display: none;
	}
	
	//Exercise - Large Screen Animation Control
	#exercise{
		opacity: 0;
	}
	.excont{
		transform-style: preserve-3d;
		background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
	}
	.exnav{
		height: 11.2vh;
		z-index: 10;
	}
	.exin{
		padding: 0 2rem;
		color: $txtcola;
	}
	.exin p{
		font-size: 1.1rem;
		margin-bottom: 3rem;
	}
	
	.excont.active .exmain{
		transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		animation: main-animation 0.5s ease;
	}
	@keyframes main-animation{
		from{
			transform: translate(0);
		}
		to{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
	}
	
	.excont.active .ex.newb{
		animation: noob 0.6s ease-out;
		transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
	}
	@keyframes noob{
		0%{
			transform: translate(0);
		}
		5%{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
		100%{
			transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
		}
	}
	.excont.active .ex.interm{
		animation: interm 0.6s ease-out;
		transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
	}
	@keyframes interm{
		0%{
			transform: translate(0);
		}
		5%{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
		100%{
			transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
		}
	}
	.excont.active .ex.adv{
		animation: adv 0.6s ease-out;
		transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
	}
	@keyframes adv{
		0%{
			transform: translate(0);
		}
		5%{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
		100%{
			transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
		}
	}
	
	.excont.active .exlink{
		width: 30%;
		right: 0.6rem;
		
	}
	
	.excont.active .ex.newb{
		animation: noob 0.6s ease-out;
		transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
	}
	@keyframes noob{
		0%{
			transform: translate(0);
		}
		5%{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
		100%{
			transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
		}
	}
	.excont.active .ex.interm{
		animation: interm 0.6s ease-out;
		transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
	}
	@keyframes interm{
		0%{
			transform: translate(0);
		}
		5%{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
		100%{
			transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
		}
	}
	.excont.active .ex.adv{
		animation: adv 0.6s ease-out;
		transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
	}
	@keyframes adv{
		0%{
			transform: translate(0);
		}
		5%{
			transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
		}
		100%{
			transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
		}
	}
	
	.excont.active .exlink{
		top: 0;
		width: 30%;
		right: 0.6rem;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.noscroll{
		overflow: hidden;
		height: 100vh;
	}
	.exseg-in{
		width: 85%;
		height: 100vh - 18vh;
		border-radius: 25px;
		margin-top: 12vh;
		margin-left: 10%;
	}
	.exseg-serv{
		min-height: 68vh;
	}
	.exseg-serv{
		margin: 1rem 0 1rem 0;
		padding: 1rem;
	}
	.exseg-pop i{
		margin: 1.5rem;
		margin-left: 95%;
	}
}

// Small screens
@media only screen and (max-width: 800px) {
	.nav-bar {
		background: rgba(255, 255, 255, 0.192);
		top: 0;
		width: 100vw;
		height: 5rem;
		margin-right: 0.6rem;
	}
	.logo {
		display: none;
	}
	.nav-set {
		flex-direction: row;
	}
	.nav-link {
		justify-content: center;
	}
	main {
		margin: 0;
		
	}
	section{
		height: auto;
	}
	::-webkit-scrollbar {
		width: 0.5rem;
	}
	.smllscn{
		display: inline-block;
		width: 100%;
	}
	

	//Exercise - Small Screen Animation Control
	
	.excont.active .exmain{
		opacity: 0;
	}
	.excont.active .ex{
		opacity: 0;
	}
	.excont{
		background: transparent;
		height: 95%;
	}
	.exnav{
		background: linear-gradient(215deg, rgba(255, 0, 0, 0), $maincol1);
		height: auto;
		z-index: 7;
	}
	.exin p{
		margin-bottom: 2rem;
	}
	.excont.active .exlink{
		position: absolute;
		top: 0;
		width: 100%;
		background: linear-gradient(135deg, #485461 0%, #28313b 74%);
	}

	.exseg-in{
		width: 100%;
		border-radius: 2px;
		margin-top: 1rem;
		height: 100%;
		overflow-y: auto;
	}
	.exseg-serv{
		margin: 0.3rem 0 0.3rem 0;
		padding: 0.3rem;
		margin-bottom: 10%;
	}
	.newb-enter{
		height: 100%;
	}
	.exseg-pop i{
		margin: 1.5rem;
		margin-left: 93%;
	}
}


//Exercise
#exercise{
	margin: 0;
	transition: 0.5s;
}

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.excont{
	max-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.exnav{
	//let position remain relative for small screen (or until further notice)
	position: relative;
	//position: fixed;
     top: 0;
     left: 0;
	width: 100%;
}
.exmenu{
	max-width: 72rem;
	width: 100%;
	margin: 0 auto;
	padding:0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $txtcola;
}
.exlogo{
	margin-left: 5%;
	font-size: 2rem;
	letter-spacing: 1px;
	line-height: 4rem;
	cursor: pointer;
}

.exham{
	height: 4rem;
	width: 3rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.tripbar{
	width: 2rem;
	height: 1.5px;
	border-radius: 2px;
	background-color: $txtcola;
	transition: 0.5s;
	position: relative;
}
.tripbar:before, .tripbar:after{
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: $txtcola;
	transition: 0.5s;
}
.tripbar:before{
	transform: translateY(-10px);
}
.tripbar:after{
	transform: translateY(10px);
}
.exmain{
	//top-auto
	//display: block;
	position: relative;
	width: 100%;
	left: 0;
	z-index: 5;
	overflow: hidden;
	transform-origin: left;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.ex{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.ex.newb{
	z-index: -1;
}
.ex.interm{
	z-index: -2;
}
.ex.adv{
	z-index: -3;
}

header{
	min-height: 100vh;
	width: 100%;
	position: relative;
}
.eximg{
	background: url("../Images/weight-rack.jpg") no-repeat top center / cover;
}
.exbegin{
	background: url("../Images/Begin_situp.jpg") no-repeat top center / cover;
	transition: 0.5s;
}
.exinte{
	background: url("../Images/Interm_Pullup.jpg") no-repeat top center / cover;
}
.exadv{
	background: url("../Images/Adv_muscle.jpg") no-repeat top center / cover;
}
.exlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(57, 70, 83, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	top:0;
	left: 0;
}
.exin{
	max-width: 40rem;
	text-align: center;
	color: $txtcola;
}
.extitle{
	font-size: 3rem;
}

.exbtn{
	margin-top: 1rem;
	padding: 0.6rem 1.8rem;
	background-color: $maincol2;
	border: none;
	border-radius: 25px;
	color: $txtcola;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
}
.exbtn:hover{
	background-color: $maincol1;
	color: $txtcola;
	text-decoration: none;
	transition: 0.5s;
}
.excont.active .tripbar{
	transform: rotate(360deg);
	background-color: transparent;
}

.excont.active .tripbar:before{
	transform: translateY(0) rotate(45deg);
}
.excont.active .tripbar:after{
	transform: translateY(0) rotate(-45deg);
}
.excont.active .exlink{
	position: absolute;
	top: 0;
	height: 100vh;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.noscroll{
	overflow: hidden;
	height: 100vh;
}

ul{
	list-style: none;
}
.exlink a{
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: $txtcola;
	background: transparent;
	padding: 1.5rem 3rem 1.5rem 3rem;
	display: inline-block;
	font-size: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.3s;
	opacity: 0;
	transform: translateY(10px);
	animation: hide 0.5s forwards ease;
}

.exlink a:hover{
	color: $txtcola;
	text-shadow: 0 0 10px $maincol2,0 0 20px $maincol1;
	border-bottom: 4px solid $maincol2;
	border-radius: 5rem;
	text-decoration: none;
	font-size: 1.5rem;
}
.overv a:hover{
	text-shadow: 0 0 10px $maincol1,0 0 20px $maincol2;
	border-bottom: 4px solid $maincol1;
}

.excont.active .exlink a{
	animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear{
	from{
		opacity: 0;
		transform: translateY(20px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes hide{
	from{
		opacity: 1;
		transform: translateY(0px);
	}
	to{
		opacity: 0;
		transform: translateY(20px);
	}
}

//ex-esgment main
.exseg-in{
	position: absolute;
	text-align: center;
	background-color: white;
	
	padding: 1rem;
	color: $txtcolb;
}

.exseg-nav{
	top: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 3rem;
	padding: 0.5rem;
	border-radius: 3rem;
	background: rgba(209, 209, 209, 0.3);
}

.exseg-links{
	height: 2rem;
	padding: 0 10px 0 10px;
	background: transparent;
	color: $txtcolb;
	font-size: 1.1rem;
	font-style: bold;
	text-decoration: none;
	border-bottom: 1px solid magenta;
	//border-radius: 3rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: 0.3s ease-in-out;
}
.exseg-links:hover{
	//background:$maincol2;
	text-shadow: 0 0 25px $maincol2;
	border-bottom: 3px solid magenta;
	border-radius: 4rem;
	color: $txtcolb;
	text-decoration: none;
	transition: 0.3s;
}

.exseg-nav a i{
	color: $maincol2;;
	font-size: 2rem;
	transition: 0.3s ease-in-out;
}
.exseg-nav a i:hover{
	color: $maincol1;
	text-shadow: 0 0 2.5px $maincol1;
	transition: 0.3s;
}
.exseg-serv{
	position: relative;
	background: rgba(209, 209, 209, 0.3);
	border-radius: 25px;
}
.exseg-start{
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.exseg-card{
	//margin: 3rem;
	//padding: 0.5rem;
	//left: 3rem;
	//width: 100%;
	background: rgba(209, 209, 209, 0.3);
	border-radius: 15px;
	transition: 0.5s;
	cursor: pointer;
	//min-height: 150px;
}
.exseg-card:hover{
	background: $maingrad;
	transform: translateY(-20px);
	box-shadow: -10px 20px 10px rgba(255, 0, 0, 0.33),-10px 20px 7px rgba(255, 0, 255, 0.35);
}
.exseg-card img{
	margin: 0.5rem auto 0 auto;
	//margin-left: auto;
	//margin-right: auto;
	display: block;
	height: 7rem;
	width: 7rem;
	//align-items: center;
}

.exseg-pop{
	top: 0;
	left: 0;
	position: absolute;
	z-index: 7;
	background: white;
	width: 100%;
	height: 82vh;
	border-radius: 25px;
	animation: fadeInOut 0.5s ease-in-out;
}
@keyframes fadeInOut{
	0%{
		height: 0;
		width: 0;
		opacity: 0;
	}
	
	100%{
		height: 82vh;
		width: 100%;
		opacity: 1;
	}
}
.exseg-pop i{
	border-radius: 50%;
	font-size: 2rem;
	color: gray;
	cursor: pointer;
	transition: 0.3s ease;
}
.exseg-pop i:hover{
	color: $maincol1;
	transition: 0.3s ease;
}
.pop-cont{
	margin: 0 5%;
	height: 70%;
	overflow: auto;
	border-top: 4px solid $seccol1;
	border-bottom: 4px solid $seccol1;
}
.pop-cont table{
	margin-bottom: 3rem;
}

//begin main
.newb-enter{
	display: none;
	transition: 0.5s;
}

.newb-fit{
	display: none;
}

.newb-mscl{
	display: none;
}

//intermediate main
.interm-enter{
	display: none;
	transition: 0.5s;
}

.interm-fit{
	display: none;
}
.interm-mscl{
	display: none;
}


//Advanced main
.adv-enter{
	display: none;
	transition: 0.5s;
}

.adv-fit{
	display: none;
}
.adv-mscl{
	display: none;
}




