//Variables - change words to rgb/rgba/hex
$maincol1: red;
$maincol2: magenta; //or color: #df49a6;
$maingrad: linear-gradient(135deg, $maincol1, $maincol2);//or no gradient theme
$seccol1: #23232e;
$seccol1h: #141418;
$txtcola: white;
$txtcolb: black;
$txtcolc: rgba(201, 201, 201, 0.774);
$primgrad: linear-gradient(45deg, $txtcolb, $txtcola);
$secgrad: linear-gradient(to left, $seccol1, $txtcolc);
$transan: 600ms;

//Functions
@mixin topics($font, $color) {
	text-align: left;
	font-family: "Montserrat", "Courier New", Courier;
	font-size: $font;
	padding-top: 2rem;
	color: $color;
}

//HTML-global
:root{
	font-size: 17px;
	font-family: "Montserrat", "Courier New", Courier;
}

//Body
body{
	margin: 0;
	padding: 0;
}

//scroll
::-webkit-scrollbar {
	width: 0.8rem;
	background: $primgrad;
}
::-webkit-scrollbar-thumb {
	background: $maingrad;
	border-radius: 10px;
}

//Main
main{
	margin-left: 5rem;
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	
}

//Section
section {
	scroll-snap-align: start;
	scroll-snap-stop: normal;
}

.fresh-link{
	filter: grayscale(0%) opacity(1) !important;
}

//Navbar
.nav-bar {
	position: fixed;
	background-color: $seccol1;
	transition: width $transan ease;
	z-index: 10;
	transition: 0.5s;
}

.nav-set {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

.nav-item {
	width: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: $txtcolc;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: $transan;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: $seccol1h;
	color: $txtcola;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-icon{
	font-size: 2rem;
	color: $maincol2;
	transition: $transan;
}
.nav-link .nav-icon {
	width: 2rem;
	min-width: 2rem;
	margin: 0 0.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: $txtcola;
	background: $seccol1h;
	font-size: 1.5rem;
	letter-spacing: 0.1ch;
	width: 100%;
}

.logo .nav-icon {
	transform: rotate(0deg);
	transition: $transan;
}

.logo-text{
	display: inline;
	position: absolute;
	left: -876px;
	transition: $transan;
}

.nav-bar:hover .logo .nav-icon{
	transform: rotate(180deg);
}

// Large screens
@media only screen and (min-width: 800px) {
	body{
		overflow: hidden;
	}
	main{
		
		scroll-snap-type: y proximity;
		overflow-y: auto;
		height: 100vh;
		
	}
	section {
		scroll-snap-align: start;
		scroll-snap-stop: normal;
		height: 100%;
	}
	.nav-bar {
		top: 0;
		width: 5rem;
		height: 100vh;
		
	}
	.nav-bar:hover{
		width: 16rem;
	}

	.nav-bar:hover .link-text {
		display: inline;
		
	}

	.nav-bar:hover .logo .nav-icon
	{
		margin-left: 11rem;
	}

	.nav-bar:hover .logo-text
	{
		left: 0px;
	}
	.smllscn{
		display: none;
	}
}

// Small screens
@media only screen and (max-width: 800px) {
	.nav-bar {
		top: 0;
		width: 100vw;
		height: 5rem;
	}
	.logo {
		display: none;
	}
	.nav-set {
		flex-direction: row;
	}
	.nav-link {
		justify-content: center;
	}
	main {
		margin: 0;
		
	}
	section{
		padding-top: 5rem;
	}
	
	.smllscn{
		display: inline-block;
		width: 100%;
	}
}


//Home
#home{
	margin: 0;
}

//Exercise - highly experimental ids and classes
#exercise{
	margin: 0;
	transition: 1s;
	opacity: 0;
}

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

.excont{
	max-height: 100vh;
	width: 100%;
	background-color: #485461;
	background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
	overflow: hidden;
	transform-style: preserve-3d;
}

.exnav{
	position: relative;
     top: 0;
     left: 0;
	width: 100%;
	z-index: 10;
	height: 11.2vh;
}
.exmenu{
	max-width: 72rem;
	width: 100%;
	margin: 0 auto;
	padding:0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $txtcola;
}
.exlogo{
	font-size: 2rem;
	letter-spacing: 1px;
	line-height: 4rem;
}
.exham{
	height: 4rem;
	width: 3rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.tripbar{
	width: 2rem;
	height: 1.5px;
	border-radius: 2px;
	background-color: $txtcola;
	transition: 0.5s;
	position: relative;
}
.tripbar:before, .tripbar:after{
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: $txtcola;
	transition: 0.5s;
}
.tripbar:before{
	transform: translateY(-10px);
}
.tripbar:after{
	transform: translateY(10px);
}

.exmain{
	//top-auto
	//display: block;
	position: relative;
	width: 100%;
     left: 0;
     z-index: 5;
     overflow: hidden;
	transform-origin: left;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.ex{
	position: absolute;
	width: 100%;
     height: 100vh;
     left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.ex.newb{
	z-index: -1;
}
.ex.interm{
	z-index: -2;
}
.ex.adv{
     z-index: -3;
}



header{
	min-height: 100vh;
	width: 100%;
	position: relative;
}
.eximg{
	background: url("/Number_2/Images/weight-rack.jpg") no-repeat top center / cover;
}
.exbegin{
	background: url("/Number_2/Images/Begin_situp.jpg") no-repeat top center / cover;
}
.exinte{
	background: url("/Number_2/Images/Interm_Pullup.jpg") no-repeat top center / cover;
}
.exadv{
	background: url("/Number_2/Images/Adv_muscle.jpg") no-repeat top center / cover;
}
.exlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(57, 70, 83, 0.6);
	display: flex;
	justify-content: center;
     align-items: center;
     top:0;
     left: 0;
}
.exin{
	max-width: 40rem;
	text-align: center;
	padding: 0 2rem;
	color: $txtcola;
}
.exin p{
	margin-bottom: 3rem;
}
.extitle{
	font-size: 3rem;
}

.exbtn{
	margin-top: 1rem;
	padding: 0.6rem 1.8rem;
	background-color: $maincol2;
	border: none;
	border-radius: 25px;
	color: $txtcola;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
}
.exbtn:hover{
	background-color: $maincol1;
	color: $txtcola;
	text-decoration: none;
	transition: 0.5s;
}
.excont.active .tripbar{
	transform: rotate(360deg);
	background-color: transparent;
}

.excont.active .tripbar:before{
	transform: translateY(0) rotate(45deg);
}
.excont.active .tripbar::after{
	transform: translateY(0) rotate(-45deg);
}
.excont.active .exmain{
	transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
	animation: main-animation 0.5s ease;
}
@keyframes main-animation{
	from{
		transform: translate(0);
	}
	to{
		transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
	}
}

.excont.active .ex.newb{
     animation: noob 0.6s ease-out;
	transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
}
@keyframes noob{
	0%{
		transform: translate(0);
	}
	5%{
		transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
     }
     100%{
          transform: perspective(1300px) rotateY(20deg) translateZ(320px) scale(0.5);
     }
}
.excont.active .ex.interm{
     animation: interm 0.6s ease-out;
	transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
}
@keyframes interm{
	0%{
		transform: translate(0);
	}
	5%{
		transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
     }
     100%{
          transform: perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.5);
     }
}
.excont.active .ex.adv{
     animation: adv 0.6s ease-out;
	transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
}
@keyframes adv{
	0%{
		transform: translate(0);
	}
	5%{
		transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
     }
     100%{
          transform: perspective(1300px) rotateY(20deg) translateZ(160px) scale(0.5);
     }
}


.excont.active .exlink{
	position: absolute;
	top: 0;
	width: 30%;
	right: 0.6rem;
	height: 100vh;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.noscroll{
	overflow: hidden;
	height: 100vh;
}

ul{
	list-style: none;
}
.exlink a{
	text-decoration: none;
	color: $txtcola;
	padding: 1rem 0;
	display: inline-block;
	font-size: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.3s;
	opacity: 0;
	transform: translateY(10px);
	animation: hide 0.5s forwards ease;
}

.exlink a:hover{
	color: $txtcola;
	text-decoration: none;
}

.excont.active .exlink a{
	animation: appear 0.5s forwards ease var(--i);
}

//overview - exmain
@keyframes appear{
	from{
		opacity: 0;
		transform: translateY(20px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes hide{
	from{
		opacity: 1;
		transform: translateY(0px);
	}
	to{
		opacity: 0;
		transform: translateY(20px);
	}
}

//begin main
//.newbbtn{}
.newb-enter{
	display: none;
}
.newb-in{
	position: absolute;
	width: 75rem;
	height: 100vh - 18vh;
	margin-top: 12vh;
	margin-left: 5rem;
	background-color: white;
	border-radius: 25px;
	padding: 2rem;
	color: $txtcolb;
}
.newb-nav{
	top: 0;
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 2rem;
}
.newb-serv{
	margin-top: 2rem;
}


//Upcoming Events
#u-events{
	margin: 0;
}

//About
#about{
	margin: 0;
}